@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Vollkorn:wght@400;500;600;700;800;900&display=swap');


body{
    color: #1E1D25;
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    /* background: linear-gradient(180deg, #FFFFFE 0%, #FFFBF0 100%), linear-gradient(180deg, #FFFFFE 0%, #FFFBF0 100%); */
}

p{
    font-size: 18px;
}

.p2{
    font-size: 20px;
    font-weight: 500;
}

h1{
    font-family: 'Vollkorn', serif;
    font-weight: 900;
    font-size: 64px;
}

h2{
    font-family: 'Vollkorn', serif;
    font-weight: 900;
    font-size: 48px;
}

h3{
    font-family: 'Vollkorn', serif;
    font-weight: 900;
    font-size: 40px;
}

h4{
    font-family: 'Vollkorn', serif;
    font-weight: 900;
    font-size: 32px;
}

img{
width: 100%;
}

.logo-primary{
    max-height: 40px;
    width: auto;
}

.btn-primary-dark{
    background-color: #1E1D25;
    border-color: #1E1D25;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-primary-light{
    background-color: #FFCF48;
    border-color: #FFCF48;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    color: #1E1D25;
    font-weight: 600;
}

.btn-primary-outline-dark{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    font-weight: 600;
    border: #1E1D25 solid 2px;
}

@media screen and (min-width: 768px) {
    .border-md-dark {
            border: #1E1D25 solid 2px;
            border-radius: 32px;
            padding: 40px;
        }
    
        .border-md-top-dark {
            border-top: #1E1D25 solid 1px;
        }
    
        .border-md-top-light {
            border-top: 1px solid #e1e4eb;
        }
    
        .border-md-right-light {
            border-right: 1px solid #e1e4eb;
        }
}

.featureWithButton {
    position: relative;
}

/* .overlay {
    position: absolute;
} */
.section-cta {
    background-color: #000;
    color: #fff;
}
.card-cta {
    background-color: #404040;
    margin-top: 16px;
}
.card-cta p {
    font-size: 14px;
}
.cta-area {
    background-color: #FFCB3D;
    transform: translateY(50%);
}

.footer1 {
    /* margin: 100px 200px; */
    padding: 100px 200px 200px;
    display: flex;
    justify-content: space-evenly;
    font-size: x-small;
    text-align: left;
    background-color: black;
}

.footer1 div {
    background-color: white;
    /* padding: 10px 40px 10px 10px; */
    /* margin: 0 20px; */
    border: 1px solid black;
    border-radius: 10px;
    width: 20%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer1 div img {
    width: 40%;
    margin: 0;
}

.footer div p {
    margin: 0;
}

.middleFooter {
    position: relative;
    bottom: 100px;
    margin: 0 250px;
    text-align: center;
}

.middleFooter button {
    background-color: black;
    color: white;
}

.middleFooter div {
    /* margin: 0 200px; */
    padding: 70px 50px;
    background-color: #FFCB3D;
    border-radius: 20px;
}

/* .middleFooter div p {
    margin: 20px 0;
} */

.lastSection {
    /* margin: 0 200px 150px 150px; */
    padding: 70px 50px;
    text-align: left;
    font-size: x-small;

}

/* .lastSection p {
    margin: 10px 0;
} */

.lastSection img {
    width: 20%;
}

.lastSection input {
    padding: 15px 10px;
    border-radius: 8px;
    font-size: small;
}

/* footer hr {
    margin: 0 200px;
} */

/* footer nav {
    margin: 10px 0;
} */

footer nav ul {
    width: 10%;
}

footer nav ul li img {
    width: 50%;
}

footer nav p a {
    color: #FFCB3D;
}

@media screen and (max-width: 767px) {
    h1 {
            font-size: 48px;
        }
}